footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  font: 14px/150% var(--font-family);

}

footer span:nth-child(1) {
  margin-right: auto;
}

#footer-links {
  display: flex;
  gap: 16px;
}
